<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <li><%= accueil %></li>
        <li><%= cv %></li>
        <li><%= blog %></li>
        <li><%= lttools %></li>
    </ul>
    <p>req = <%= requete %></p>
  </body>
</html>