<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title><%= titre %> : <%= sousTitre %></title>
    <link rel="stylesheet" href="/stylesheets/aresio.css" media="screen" />
</head>
<body>
<div id="page">
    <h1><%= titre %></h1>
    <span class="soustitre"><%= sousTitre %></span>
    
    <div class="hr320"><hr /></div>
    <nav>
        <ul>
            <li class="elt-menu-pressed"><%= accueil %></li>
            <li><%= cv %></li>
            <li><%= blog %></li>
            <li><%= lttools %></li>
        </ul>
    </nav>
</div>
</body>
</html>