!!!5
html
    head
        title #{titre} - #{sousTitre}
        link(rel='stylesheet', href='/stylesheets/aresio.css', media='screen')
        //meta(name='viewport' content='width=device-width')
    body
        div#page
            header 
                div.entete
                    a.titre(href='/')
                        h1.invisible #{titre} 
                        span.invisible #{sousTitre}
                    include mod-choix-langue 
                div.clear
                div.hr320
                    hr
                nav.menu
                    ul
                        li.elt-menu-pressed #{accueil}
                        li #{cv}
                        li #{blog}
                        li #{lttools}
            block contenu
            footer
                br
                br
                p
                    em Ce site fonctionne sous Node.js avec Express, Jade et Stylus.
                    br
                    em Outils de développement : Cloud9 (IDE), Heroku (Hébergement), GitHub (Versions), Gandi (Domaine). 
                    br
                    

    

// <div id="page">
//     <nav class="choix-langue"> 
//         <span>Langues disponibles :</span>
//         <a href="http://www.loic-truchot.com/fr/accueil"><img src="../images/img/fr.png" alt="Drapeau France" />Fran&ccedil;ais</a>
//         <a href="http://www.loic-truchot.com/en/home"><img src="../images/img/en.png" alt="Drapeau Royaume-Unis" />English</a>
//     </nav>
//     <h1><%= titre %></h1>
//     <span class="soustitre"><%= sousTitre %></span>
//     
//     <div class="hr320"><hr /></div>
//     <nav>
//         <ul>
//             <li class="elt-menu-pressed"><%= accueil %></li>
//             <li><%= cv %></li>
//             <li><%= blog %></li>
//             <li><%= lttools %></li>
//         </ul>
//     </nav>
// </div>
